BOT_TOKEN=replace_with_your_bot_token
CHANNEL_ID=-1001948808705
GAME_CTA_URL=https://bit.ly/Saferegister
MIN_SIGNAL_MINUTES=45
MAX_SIGNAL_MINUTES=60
RESULT_DELAY_SECONDS=60
CTA_INTERVAL_MINUTES=30
CORRECT_PROBABILITY=0.5
